.header {
    /* width: 1280px; */
    height: 60px;
    background-color: #0D0D0D;
    display: flex;
    flex-direction: row;
    padding: 12px 60px ;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #333333;
}

.headerRightSide {
    display: flex;
    flex-direction: row;
    align-items: center;
}
