.container {
  background-color: transparent
}

.btn {
  border-color: transparent;

  &:hover, &:focus, &:active, &:disabled {
    border-color: transparent
  }
}

.preview {
  align-self: center;
  margin-bottom: 60px
}