*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0
}

article,
aside,
figcaption,
figure,
footer,
header,
main,
nav,
section {
    display: block
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: smooth
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important
    }
}
