{
  "extends": [
    "stylelint-config-standard-scss",
    "stylelint-config-recommended-scss",
    "stylelint-config-sass-guidelines",
    "stylelint-config-rational-order"
  ],
  "plugins": [
    "stylelint-scss",
    "stylelint-selector-bem-pattern",
    "stylelint-declaration-block-no-ignored-properties"
  ],
  "overrides": [
    {
      "files": ["*.scss", "**/*.scss"],
      "customSyntax": "postcss-scss"
    }
  ],
  "rules": {
    "selector-no-qualifying-type": [true, { 
        "ignore": ["attribute", "class", "id"]
    }],
    "max-nesting-depth": 4,
    "block-no-empty": false,
    "selector-max-compound-selectors": 4,
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": false,
    "scss/dollar-variable-pattern": false,
    "scss/at-use-no-unnamespaced": true,
    "selector-class-pattern": null,
    "color-function-notation": false,
    "number-leading-zero": "never",
    "alpha-value-notation": "number",
    "media-feature-range-notation": "prefix",
    "block-opening-brace-space-before": "always",
    "declaration-block-trailing-semicolon": "never",
    "font-family-no-missing-generic-family-keyword": [null, {
        "ignoreFontFamilies": ["icons"]
      }
    ],
    "plugin/selector-bem-pattern": {
      "preset": "bem",
      "componentName": "[A-Z]+",
      "componentSelectors": {
        "initial": "^\\.{componentName}(?:-[a-z]+)?$",
        "combined": "^\\.combined-{componentName}-[a-z]+$"
      }
    }
  }
}