.container > * {
  margin-top: 40px
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center
}

.body {
  width: 300px
}

.container button {
  display: flex;
  justify-content: center;
  width: 250px
}

.container img {
  margin-top: 100px
}
