.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  height: 60px;
  background-color: #000000;
  border-bottom: 1px solid #645f5f;
}

.text {
  flex: 1;
  text-align: right;
  margin-right: 970px; 
}


.languageSelector {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: auto; 
}

.languageButton {
  display: flex;
  align-items: center;
  padding: 8px 20px;
  width: 170px;
  font-size: 16px;
  color: #ffffff;
  background-color: #000000;
  border: 2px solid #645f5f;
  border-radius: 1px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  justify-content: space-between;
}

.languageButton img {
  margin-left: -7px; 
}

.languageFlag {
  margin-right: -20px;
  width: 20px;
  height: 20px;
}

.languageItem img {
  margin-right: 10px; 
}

.languageSelector {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: -5px; 
  margin-right: 40px;
}

.languageList {
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 120px;
  background-color: #020202;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: none;
  list-style-type: none;
  padding: 0;
}

.languageList.active {
  display: block;  
}

.languageItem {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.notificationIcon {
  margin-right: 100px;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #ffffff;
}

.arrow-up {
  transform: rotate(180deg);
}
