.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh
}

.card {
    width: 100%;
    max-width: 420px;
    padding: 2.05rem 2.25rem 1.2rem;
    text-align: center
}

.email {
    margin-top: 1.7rem;
    text-align: left
}

.registerBtn {
    margin-top: 1.25rem;
    margin-bottom: 2rem
}

.subtitle {
    margin-top: 1.25rem;
    color: #8d9094; /* TODO CHECK VARIABLES */
    text-align: start
}

.description {
    margin-top: 1.25rem;
    color: #fff; /* TODO CHECK VARIABLES */
    text-align: start
}

.link {
    margin-bottom: 2rem;
    color: var(--color-primary-500);
    text-decoration: underline
}
  