.imageUploader {
    text-align: center;
    & input {
        display: none;
    }
    & label p {
        font: var(--font-h3);
        color: var(--color-light-100)
    }
}

.galleryContainer{
    display: flex;
    margin-top: 60px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;


    & .btn{
        padding: 0;
        border: none;
    }
    & label p{
        font: var(--font-h1);
        color: var(--color-light-100);
        border-radius: 50%;
        padding: 0 12px;
        border: 2px solid var(--color-light-100);
    }
    & input{
        display: none;
    }

    .images{
        display: inline-flex;
        flex: 0 400px;
        gap:6px;
        border-radius: 2px;
        padding: 8px;
        overflow-y: hidden;
        overflow-x: auto;
        text-align: center;
        background-color: rgba(var(--color-dark-500), .8);

        &__image{
            flex:0 124px;
            height: 82px;
            position: relative;

            img {
                max-width: 124px;
                height: 100%;
                object-fit: contain;
            }

            &__close {
                position: absolute;
                top: -10px;
                right: -10px;
                padding: 0 6px;
                border-radius: 2px;
                background-color: rgba(var(--color-dark-500), .8);
                color: var(--color-light-100);
            }
        }
    }
}