.activeSubscriptionsTitle {
  margin-bottom: 18px;
  font-size: var(--font-h3)
}

.activeSubscriptions {
  width: 100%;
  margin-bottom: 19px;
  padding: 12px 24px;
  background-color: var(--color-dark-500);
  border: 1px solid var(--color-dark-300)
}

.activeSubscriptionsList {
  display: flex;
  gap: 48px
}

.activeSubscriptionHeader {
  margin-bottom: 12px;
  color: #8D9094
}

.activeSubscriptionValue {
  font: var(--font-regular-bold)
}

.activeSubscriptionCheckbox {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-start
}