.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}



.card {
  width: 100%;
  max-width: 420px;
  padding: 2.05rem 2.25rem 1.2rem;
  text-align: center;
  background-color: var(--color-dark-500);


  .password {
    margin-top: 1.5rem;
    text-align: left;
  }

  .confirmPassword {
    margin-top: 1.5rem;
    text-align: left;
  }

  .btn {
    margin-top: 41px;
    margin-bottom: 13px;
  }

  .subtitle {
    margin-top: 7px;
    color: var(--color-light-900);
    text-align: left;
  }

  .link {
    color: var(--color-primary-500);
    text-decoration: underline;
  }
}