.container {
  display: flex;
  justify-content: center;

}

.feed {
  height: calc(100vh - 20px);
  width: 100%;
}
.row {
  text-align: center;
  margin: 5px 0;
  align-items: center;
}
.virtualList{
  display: flex;
  justify-content: center;
}
