.container {
  display: flex;
  justify-content: center

}

.feed {
  width: 100%;
  height: calc(100vh - 20px)
}

.row {
  align-items: center;
  margin: 5px 0;
  text-align: center
}

.virtualList {
  display: flex;
  justify-content: center
}
