.container {
  inset: 0;
  height: 100%;
  margin: 0;
  overflow-y: auto
}

.feed {
  display: flex;
  flex-direction: column;
  gap: 36px;
  max-width: 480px;
  padding: 0 16px;
  margin: 24px auto
}
