.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  //  margin-top: 24px;

}


/* .signUpForm { */

/*    display: flex; */

/*    flex-direction: column; */

/*    align-items: center; */

/*    width: 500px; */

/*    height: 624px; */

/*    padding: 20px; */

/*    border: 1px solid #ccc; */

/*    background-color: #fff; */

/* } */

/* .inputForm { */

/*    display: flex; */

/*    flex-direction: column; */

/*    align-items: center; */

/* } */
.card {
  width: 100%;
  max-width: 420px;
  padding: 2.05rem 2.25rem 1.2rem;
  text-align: center;

  .iconContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 13px;
    margin-bottom: 22px;
    padding: 0 100px
  }

  .email {
    margin-top: 1.7rem;
    text-align: left
  }

  .password {
    margin-top: 1.5rem;
    text-align: left
  }

  .confirmPassword {
    margin-top: 1.5rem;
    text-align: left
  }

  .privacyBlock {
    display: flex;
    align-items: center;
    margin-top: 1.38rem;

    .privacyText {
      // display: flex;
      align-items: center;
      padding-left: 8px
    }
  }

  .registerBtn {
    margin-top: 1.38rem
  }

  .subtitle {
    margin-top: 1.25rem;
    color: var(--color-light-900)
  }

  .link {
    color: var(--color-primary-500);
    text-decoration: underline
  }

  .sizeText {
    font-size: 12px
  }
}