@import '/src/styles/variables/mixins';

.search-input::-webkit-search-cancel-button {
  appearance: none
}

.root {
  display: flex;
  flex-direction: column;
  width: 100%
}

.inputContainer {
  position: relative;
  display: flex;
  align-items: center
}

.iconStart {
  position: absolute;
  top: 50%;
  left: 12px;
  display: grid;
  color: var(--color-dark-100);
  transform: translateY(-50%);
  place-items: center;

  &:has(~ .input:focus) {
    color: var(--color-light-100)
  }

  // TODO remember this selector
}

.iconEnd {
  position: absolute;
  top: 50%;
  right: 12px;
  display: grid;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
  place-items: center
}

.input {
  all: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 6px 40px 6px 12px;
  color: var(--color-light-100);
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  border: 1px solid var(--color-dark-100);
  border-radius: 2px;
  outline: none;
  cursor: auto;
  transition: .3s;

  &::placeholder {
    color: var(--color-dark-100)
  }

  &:disabled {
    color: var(--color-dark-300)
  }

  // TODO: focus visible border info700 var
  &:focus,
  &:active:enabled {
    box-shadow: 0 0 0 1px var(--color-light-100);

    &::placeholder {
      color: var(--color-dark-100)
    }
  }

  &:hover:not(&:disabled) {
    background-color: var(--color-dark-700)
  }

  &.error {
    color: var(--color-danger-300);
    box-shadow: 0 0 0 1px var(--color-danger-300);

    &::placeholder {
      color: var(--color-danger-300)
    }
  }

  &[data-icon*='start'] {
    padding-left: 36px
  }

  &[data-icon*='end'] {
    padding-right: 36px
  }
}

.iconButton {
  all: unset;
  position: absolute;
  right: 10px;
  display: flex;
  border-radius: 100%;
  cursor: pointer;
  transition: .4s;

  &:hover {
    background-color: var(--color-light-700)
  }

  &.disabled {
    color: var(--color-dark-300);
    cursor: unset
  }
}
