.wrapper {
    display: flex

}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    margin-left: 10px
}

.contentHeader {
    display: flex;
    justify-content: space-between;

    /* border-bottom: 1px solid var(--color-dark-100); */
}

.header {
    display: flex;
    align-items: center
}

.userName {
    margin-left: 5px;
    font-weight: bold
}

.contentComments {
    margin-top: 20px
}

.userAvatar {
    width: 50px;
    height: 50px;
    border-radius: 25px
}

.textFieldEdit {
    height: max-content;
    margin-top: 20px
}
