.form {
  position: relative;
  margin-top: 30px;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 494px;
}

.profilePreview {
  width: 120px;
  height: 120px; 
  margin-left: 16px;
  margin-top: 16px;
  border-radius: 60px;
}

.imageUpload {
  position: absolute; 
  top: 20px;
  left: -220px;
  height: 150px;
  border-radius: 50%;
  background-color: #171717;
  width: 150px;
  cursor: pointer;
}

.inputDate{
  border: 1px solid #4b4747;
  color: #eae5e5;
  width: 200px;
  padding: 10px;
  margin-top: 1px; 
  margin-bottom: 7px; 
  height: 37px;
}

.dateText{
  width: 150px; 
  color: #4b4747;
}

.inputText {
  margin-top: 10px;
  color: #b5adad;
  margin-bottom: 100px;
}

.line {
  height: 1px; 
  background-color: #494545; 
  margin-left: -231px;
  margin-top: 10px;
  width: 726px;
}


.placeholderImage {
  width: 48px; 
  height: 48px; 
  margin-top: 50px;
  margin-left: 50px;
  background-color: #ffffff;
  border-radius: 8px;
}


.textarea {
  height: 70px;
  resize: both;
  width: 100%;
  padding: 10px;
  border: 1px solid #3b3838;
  border-radius: 1px;
  box-sizing: border-box;
  margin-top: 0; 
  background-color: #121111; 
  color: #ffffff;
}


.button {
  background-color:#234E99;
  border-radius: 2px;
  width: 150px;
  height: 30px;
  margin-top: 20px;
  margin-left: 345px;
}

.button:hover {
  background-color: #0056b3;
}
