@import '/src/styles/variables/mixins';

// base style======================================================================
.body1 {
  @include typography;
}

// variants ========================================================================
.large {
  font:var(--font-large)
}

.h1 {
  font: var(--font-h1);
}

.h2 {
  font: var(--font-h2);
}

.h3 {
  font: var(--font-h3);
}

.bold16 {
  font: var(--font-bold-16);
}

.regular16 {
  font: var(--font-regular-16);
}

.bold14 {
  font: var(--font-bold-14);
}

.medium14 {
  font: var(--font-medium-14);
}

.regular14 {
  font: var(--font-regular-14);
}

.bold-small {
  font: var(--font-bold-small);
}

.small {
  font: var(--font-small);
}

.link-small {
  font: var(--font-small-link);
}

.regular-link {
  font: var(--font-regular-link);
}

.error {
  @include typography($fs: var(--font-size-xs), $lh: var(--line-height-m));
}

// colors ================================================================================
.primary {
  color: var(--color-light-100);
}

.secondary {
  color: var(--color-dark-900);
}

.inherit {
  color: var(--color-dark-100);
}

.link {
  color: var(--color-info-500);
}

.tertiary {
  color: var(--color-accent-500);
}

 .error {
  color: var(--color-danger-300);
}

.form {
  color: var(--color-light-900);
}
