
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 958px;
  margin: 0 auto;
  margin-top: 71px
}

.title {
  text-align: center
}

.content {
  text-align: center
}

.backLink {
  // display: flex;
  // flex-direction: row;
}

.link {
  position: absolute;
  top: -70px;
  left: -100px
}
