.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 192px;
  height: 192px;
  margin-bottom: 24px;
  overflow: hidden;
  background-color: #171717;
  border-radius: 50%
}
