.container {
  display: flex;
  flex-direction: column
}

.label {
  color: var(--color-light-900);
  font: var(--font-regular-14)
}

.SelectTrigger {
  display: inline-flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 150px;
  height: 36px;
  padding: 0 15px;
  color: var(--color-light-100);
  font: var(--font-regular-16);
  background-color: var(--color-dark-700);
  border: var(--color-dark-100) 1px solid;
  border-radius: 2px;
  box-shadow: 0 2px 10px var(--black-a7)
}

@media screen and (max-width: 425px) {
  .SelectTrigger {
    width: auto
  }
}


.SelectTrigger:hover {
  border-color: var(--color-primary-500)
}

.SelectTrigger:focus {
  border-color: var(--color-primary-500)
}

.SelectTrigger[data-placeholder] {
  color: var(--violet-9)
}

.SelectTrigger[data-disabled] {
  color: var(--color-dark-100);
  border: var(--color-dark-100) 1px solid
}

.SelectIcon {
  display: flex;
  justify-content: center
}

.SelectContent {
  width: 210px;
  overflow: hidden;
  background-color: var(--color-dark-500);
  border: var(--color-light-100) 1px solid;
  border-radius: 2px;
  box-shadow: 0 10px 38px -10px rgb(22 23 24 / .35), 0 10px 20px -15px rgb(22 23 24 / .2)
}


.SelectItem {
  position: relative;
  display: flex;
  align-items: center;
  height: 36px;
  padding: 0 15px;
  font: var(--font-regular-16);
  border-radius: 2px;
  user-select: none
}

.SelectItem[data-disabled] {
  color: var(--mauve-8);
  pointer-events: none
}

.SelectItem[data-highlighted] {
  color: var(--color-primary-500);
  background-color: var(--color-dark-300);
  outline: none
}

.SelectLabel {
  padding: 0 25px;
  color: var(--mauve-11);
  font-size: 12px;
  line-height: 25px
}

.SelectSeparator {
  height: 1px;
  margin: 5px;
  background-color: var(--violet-6)
}

.SelectItemIndicator {
  position: absolute;
  left: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 25px
}

.SelectScrollButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  color: var(--violet-11);
  background-color: var(--color-light-700);
  cursor: default
}