@import '/src/styles/variables/mixins';

.container {
    display: flex
}

.page {
    width: 100%;
    margin-left: 220px
}

@media (max-width: 991.98px) {
    .page {
        margin-left: 80px
    }
}
@include mq(mobile) {
    .page {
        margin-left: 0
    }
}

