.auth {
    &__container-fluid {
        display: flex;
        flex-direction: column;
        gap: 32px;
        align-items: center;
        justify-content: center;
        text-align: center;
        max-width: 416px;
        min-height: 100vh;
    }

    &__block {
        background: rgba(25, 25, 25, .15);
        padding: 40px;
        border-radius: 32px;
        border: 1px solid #8682a3
    }

    &__subtitle {
        color: #ccc;
        margin-bottom: 16px;
    }
}
