* {
  margin: 0;
  padding: 0;
  border: 0
}

*,
*::before,
*::after {
  box-sizing: border-box
}

/* Links */

a, a:link, a:visited {
  text-decoration: none
}

a:hover {
  text-decoration: none
}

h1, h2, h3, h4, h5, h6, p {
  font-weight: inherit;
  font-size: inherit
}

ul, ul li {
  list-style: none
}

img {
  vertical-align: top
}

img, svg {
  max-width: 100%;
  height: auto
}

address {
  font-style: normal
}

/* Form */

input, textarea, button, select {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  background-color: transparent
}


button, input[type="submit"] {
  display: inline-block;
  background: transparent;
  background: none;
  box-shadow: none;
  cursor: pointer
}

input:focus, input:active,
button:focus, button:active {
  outline: none
}

button::-moz-focus-inner {
  padding: 0;
  border: 0
}

label {
  cursor: pointer
}

legend {
  display: block
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  color: var(--color-light-100);
  font: var(--font-regular-14);
  background-color: var(--color-dark-700)
}

[data-radix-popper-content-wrapper] {
    z-index: 110 !important
}
  
