:root {
    // primary
    --color-primary-100: #73A5FF;
    --color-primary-300: #4C8DFF;
    --color-primary-500: #397DF6;
    --color-primary-700: #2F68CC;
    --color-primary-900: #234E99;
  
    // danger
    --color-danger-100: #FF8099;
    --color-danger-300: #F23D61;
    --color-danger-500: #CC1439;
    --color-danger-700: #990F2B;
    --color-danger-900: #660A1D;
  
    // warning
    --color-warning-100: #FFD073;
    --color-warning-300: #E5AC39;
    --color-warning-500: #D99000;
    --color-warning-700: #996600;
    --color-warning-900: #664400;
  
    // success
    --color-success-100: #80FFBF;
    --color-success-300: #22E584;
    --color-success-500: #14CC70;
    --color-success-700: #0F9954;
    --color-success-900: #0A6638;
  
    // light
    --color-light-100: #FFFFFF;
    --color-light-300: #F7FBFF;
    --color-light-500: #EDF3FA;
    --color-light-700: #D5DAE0;
    --color-light-900: #BDC1C7;
  
    // dark
    --color-dark-100: #4C4C4C;
    --color-dark-300: #333333;
    --color-dark-500: #171717;
    --color-dark-700: #0D0D0D;
    --color-dark-900: #000000;
  }
  