$icon_arrowIosBackLeft: "\e900";
$icon_arrowIosForwardBottom: "\e901";
$icon_arrowIosForwardRight: "\e902";
$icon_arrowIosForwardTop: "\e903";
$icon_bell: "\e904";
$icon_bellOutline: "\e905";
$icon_Block: "\e906";
$icon_bookmark: "\e907";
$icon_bookmarkOutline: "\e908";
$icon_calendar: "\e909";
$icon_calendarOutline: "\e90a";
$icon_close: "\e90b";
$icon_colorPalette: "\e90c";
$icon_copy: "\e90d";
$icon_copyOutline: "\e90e";
$icon_creditCard: "\e90f";
$icon_creditCardCutline: "\e910";
$icon_edit: "\e911";
$icon_editOutline: "\e912";
$icon_email: "\e913";
$icon_emailOutline: "\e914";
$icon_expand: "\e915";
$icon_eye: "\e916";
$icon_eyeOff: "\e917";
$icon_eyeOffOutline: "\e918";
$icon_eyeOutline: "\e919";
$icon_heart: "\e91a";
$icon_heartOutline: "\e91b";
$icon_home: "\e91c";
$icon_homeOutline: "\e91d";
$icon_image: "\e91e";
$icon_imageOutline: "\e91f";
$icon_layers: "\e920";
$icon_layersOutline: "\e921";
$icon_logOut: "\e922";
$icon_maximize: "\e923";
$icon_maximizeOutline: "\e924";
$icon_menuOutline: "\e925";
$icon_messageCircle: "\e926";
$icon_messageCircleCutline: "\e927";
$icon_mic: "\e928";
$icon_micCutline: "\e929";
$icon_moreHorizotnal: "\e92a";
$icon_paperPlane: "\e92b";
$icon_pauseCircle: "\e92c";
$icon_pauseCircleOutline: "\e92d";
$icon_person: "\e92e";
$icon_personAdd: "\e92f";
$icon_personAddOutline: "\e930";
$icon_personOutline: "\e931";
$icon_personRemove: "\e932";
$icon_personRemoveOutline: "\e933";
$icon_pin: "\e934";
$icon_pinOutline: "\e935";
$icon_playCircle: "\e936";
$icon_playCircleOutline: "\e937";
$icon_plusCircle: "\e938";
$icon_plusCircleOutline: "\e939";
$icon_plusSquare: "\e93a";
$icon_plusSquareOutline: "\e93b";
$icon_radioButtonChecked: "\e93c";
$icon_radioButtonUnchecked: "\e93d";
$icon_search: "\e93e";
$icon_settings: "\e93f";
$icon_settingsOutline: "\e940";
$icon_trash: "\e941";
$icon_trashOutline: "\e942";
$icon_trendingUp: "\e943";


@font-face {
  font-weight: normal;
  font-family: icon;
  font-style: normal;
  src: url('../../assets/fonts/icon.woff') format('woff'),
  url('../../assets/fonts/icon.ttf') format('truetype'),
  url('../../assets/fonts/icon.svg') format('svg');
  font-display: block
}

[class^="icon_"]::before, [class*=" icon_"]::before {
  font-weight: normal;

  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: icon !important;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  speak: never;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.icon_arrowIosBackLeft {
  &::before {
    content: $icon_arrowIosBackLeft
  }
}

.icon_arrowIosForwardBottom {
  &::before {
    content: $icon_arrowIosForwardBottom
  }
}

.icon_arrowIosForwardRight {
  &::before {
    content: $icon_arrowIosForwardRight
  }
}

.icon_arrowIosForwardTop {
  &::before {
    content: $icon_arrowIosForwardTop
  }
}

.icon_bell {
  &::before {
    content: $icon_bell
  }
}

.icon_bellOutline {
  &::before {
    content: $icon_bellOutline
  }
}

.icon_Block {
  &::before {
    content: $icon_Block
  }
}

.icon_bookmark {
  &::before {
    content: $icon_bookmark
  }
}

.icon_bookmarkOutline {
  &::before {
    content: $icon_bookmarkOutline
  }
}

.icon_calendar {
  &::before {
    content: $icon_calendar
  }
}

.icon_calendarOutline {
  &::before {
    content: $icon_calendarOutline
  }
}

.icon_close {
  &::before {
    content: $icon_close
  }
}

.icon_colorPalette {
  &::before {
    content: $icon_colorPalette
  }
}

.icon_copy {
  &::before {
    content: $icon_copy
  }
}

.icon_copyOutline {
  &::before {
    content: $icon_copyOutline
  }
}

.icon_creditCard {
  &::before {
    content: $icon_creditCard
  }
}

.icon_creditCardCutline {
  &::before {
    content: $icon_creditCardCutline
  }
}

.icon_edit {
  &::before {
    content: $icon_edit
  }
}

.icon_editOutline {
  &::before {
    content: $icon_editOutline
  }
}

.icon_email {
  &::before {
    content: $icon_email
  }
}

.icon_emailOutline {
  &::before {
    content: $icon_emailOutline
  }
}

.icon_expand {
  &::before {
    content: $icon_expand
  }
}

.icon_eye {
  &::before {
    content: $icon_eye
  }
}

.icon_eyeOff {
  &::before {
    content: $icon_eyeOff
  }
}

.icon_eyeOffOutline {
  &::before {
    content: $icon_eyeOffOutline
  }
}

.icon_eyeOutline {
  &::before {
    content: $icon_eyeOutline
  }
}

.icon_heart {
  &::before {
    content: $icon_heart
  }
}

.icon_heartOutline {
  &::before {
    content: $icon_heartOutline
  }
}

.icon_home {
  &::before {
    content: $icon_home
  }
}

.icon_homeOutline {
  &::before {
    content: $icon_homeOutline
  }
}

.icon_image {
  &::before {
    content: $icon_image
  }
}

.icon_imageOutline {
  &::before {
    content: $icon_imageOutline
  }
}

.icon_layers {
  &::before {
    content: $icon_layers
  }
}

.icon_layersOutline {
  &::before {
    content: $icon_layersOutline
  }
}

.icon_logOut {
  &::before {
    content: $icon_logOut
  }
}

.icon_maximize {
  &::before {
    content: $icon_maximize
  }
}

.icon_maximizeOutline {
  &::before {
    content: $icon_maximizeOutline
  }
}

.icon_menuOutline {
  &::before {
    content: $icon_menuOutline
  }
}

.icon_messageCircle {
  &::before {
    content: $icon_messageCircle
  }
}

.icon_messageCircleCutline {
  &::before {
    content: $icon_messageCircleCutline
  }
}

.icon_mic {
  &::before {
    content: $icon_mic
  }
}

.icon_micCutline {
  &::before {
    content: $icon_micCutline
  }
}

.icon_moreHorizotnal {
  &::before {
    content: $icon_moreHorizotnal
  }
}

.icon_paperPlane {
  &::before {
    content: $icon_paperPlane
  }
}

.icon_pauseCircle {
  &::before {
    content: $icon_pauseCircle
  }
}

.icon_pauseCircleOutline {
  &::before {
    content: $icon_pauseCircleOutline
  }
}

.icon_person {
  &::before {
    content: $icon_person
  }
}

.icon_personAdd {
  &::before {
    content: $icon_personAdd
  }
}

.icon_personAddOutline {
  &::before {
    content: $icon_personAddOutline
  }
}

.icon_personOutline {
  &::before {
    content: $icon_personOutline
  }
}

.icon_personRemove {
  &::before {
    content: $icon_personRemove
  }
}

.icon_personRemoveOutline {
  &::before {
    content: $icon_personRemoveOutline
  }
}

.icon_pin {
  &::before {
    content: $icon_pin
  }
}

.icon_pinOutline {
  &::before {
    content: $icon_pinOutline
  }
}

.icon_playCircle {
  &::before {
    content: $icon_playCircle
  }
}

.icon_playCircleOutline {
  &::before {
    content: $icon_playCircleOutline
  }
}

.icon_plusCircle {
  &::before {
    content: $icon_plusCircle
  }
}

.icon_plusCircleOutline {
  &::before {
    content: $icon_plusCircleOutline
  }
}

.icon_plusSquare {
  &::before {
    content: $icon_plusSquare
  }
}

.icon_plusSquareOutline {
  &::before {
    content: $icon_plusSquareOutline
  }
}

.icon_radioButtonChecked {
  &::before {
    content: $icon_radioButtonChecked
  }
}

.icon_radioButtonUnchecked {
  &::before {
    content: $icon_radioButtonUnchecked
  }
}

.icon_search {
  &::before {
    content: $icon_search
  }
}

.icon_settings {
  &::before {
    content: $icon_settings
  }
}

.icon_settingsOutline {
  &::before {
    content: $icon_settingsOutline
  }
}

.icon_trash {
  &::before {
    content: $icon_trash
  }
}

.icon_trashOutline {
  &::before {
    content: $icon_trashOutline
  }
}

.icon_trendingUp {
  &::before {
    content: $icon_trendingUp
  }
}

