@mixin flex-block(
  $display: flex,
  $flex-direction: column,
  $justify-content: center,
  $align-items: center,
  $gap: 0 px
) {
  display: $display;
  flex-direction: $flex-direction;
  gap: $gap;
  align-items: $align-items;
  justify-content: $justify-content
}

@mixin typography(
  $fs: var(--font-size-medium),
  $lh: var(--font-line-medium),
  $fw: var(--font-weight-medium)
) {
  margin: 0;
  padding: 0;
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh
}

$breakpoint-mobile: 324px;
$breakpoint-tablet: 768px;

// Миксины для media queries
@mixin mobile {
  @media (max-width: $breakpoint-mobile) {
    @content
  }
}

@mixin tablet {
  @media (max-width: $breakpoint-tablet) {
    @content
  }
}


$breakpoints: (
  mobile: 575.98px,
  tablet: 767.98px,
  laptop: 991.98px,
  desktop: 1199.98px,
);

@mixin mq($name) {
    $max: map-get($breakpoints, $name);
    @media (max-width: $max) {
      @content
    }
}