:root {
  --font-family-main: 'Inter', sans-serif;

  // font weights
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semiBold: 600;
  --font-weight-bold: 700;

  // font sizes
  --font-size-xs: 0.75rem;
  --font-size-s: 0.875rem;
  --font-size-m: 1rem;
  --font-size-l: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-xxl: 1.625rem;

  // line heights
  --line-height-s: 16px;
  --line-height-m: 24px;
  --line-height-l: 36px;
  }