.radioBtnFieldset {
    margin: 6px 0 42px 0;
}
.radioBtnLegend{
    font:var(--font-regular-16); ;
}
.radioBtns {
    display: flex;  
    padding: 12px 22px;
    
    & label {
        margin-left: 12px;
    }
}
.businessCostsRadioBtnsBlock, 
.accountTypesBtnsBlock {  
    background-color: var(--color-dark-500);
    border: 1px solid var(--color-dark-300);  
}