.radioBtnFieldset {
    margin-bottom: 6px 0 42px 0;
    
    & legend {
        margin-bottom: 18px;
    }
}

.radioBtnLegend{
    font:var(--font-regular-16); 
    margin: 30px 0 19px 0;
}
.radioBtns {
    display: flex;  
    padding: 12px 22px;
    
    & label {
        margin-left: 12px;
    }
}
.businessCostsRadioBtnsBlock, 
.accountTypesBtnsBlock {  
    background-color: var(--color-dark-500);
    border: 1px solid var(--color-dark-300);
    margin-bottom: 25px;  
}