.container {
    padding: 16px;

    .filters {
        display: flex;
        flex-wrap: wrap;
        gap: 16px

        
    }

    .filter {
        flex: 1 27%;
        
        .blur {
            filter: blur(4px)
        }

        .brightness {
            filter: brightness(250%)
        }

        .contrast {
            filter: contrast(180%)
        }

        .grayscale {
            filter: grayscale(100%)
        }

        .huerotate {
            filter: hue-rotate(180deg)
        }

        .opacity {
            filter: opacity(50%)
        }

        .saturate {
            filter: saturate(7)
        }

        .sepia {
            filter: sepia(100%)
        }
        
        .original {
            filter:none
        }

        .some {
            filter: sepia(1) contrast(2) brightness(200%)
        }
    }
}