.container {
  width: 220px;
  height: 100%;
  border-right: 1px solid var(--color-dark-100);

  .sidebarRoutes {
    display: flex;
    flex-flow: column wrap;
    align-content: space-around;
    align-items: flex-start;

    .wrapper {
      display: flex;
      flex-flow: column wrap;
      align-content: space-around;
      padding-top: 120px;

        span {
          margin-left: 15px
        }
    }

    .route {
      display: flex;
      flex-direction: row;
      align-items: center
    }

    .footer {
      position: fixed;
      bottom: 0;
      left: 50px;
      margin-top: 150px
    }
  }
}

@media screen and (max-width: 425px) {
  .container {
    display: none
  }
}

.btn {
  color:var(--color-light-100)
}
