.container{
  width: 220px;
  border-right: 1px solid var(--color-dark-100);

  .sidebarRoutes{
    .wrapper{
      display: flex;
      flex-direction: column;
      align-content: space-around;
      flex-wrap: wrap;
      padding-top: 120px;

      .route{
        display: flex;
        align-items: center;
        flex-direction: row;
        span{
          margin-left: 15px;
        }
      }
      .footer{
        margin-top: 150px;
      }
    }
  }
}
@media screen and (max-width: 425px) {
  .container {
    display: none;
  }
}
