@import '/src/styles/variables/mixins';

.paymentButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 96px;
  height: 64px;
  background-color: var(--color-dark-500);
  border: 1px solid var(--color-dark-300);
  border-radius: 5px;
  transition: .3s linear all;

  &_stripe {
    &:hover {
      border: 1px solid #6461FC;
      box-shadow: 0 0 25px 0 rgba(100, 97, 252, .2) inset
    }
  }

  &_paypal {
    &:hover {
      border: 1px solid #298FC2;
      box-shadow: 0 0 25px 0 rgba(41, 143, 194, .2) inset
    }
  }
}

.checkoutFormButtons {
  display: flex;
  gap: 54px;
  align-items: center;
  justify-content: flex-end;
  font: var(--font-regular-14)
  
}
@include mq(mobile) {
    .checkoutFormButtons {
        justify-content: center
      }
}





