.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 228px;
  height: 228px;
  background-color: var(--color-dark-500)
}

.default {
  border-radius: 2px
}

.rounded {
  border-radius: 50%
}

