.container {
    display: flex;
}

.page {
    margin-left: 220px;
    width: 100%
}

@media (max-width: 991.98px) {
    .page {
        margin-left: 80px
    }
}

@media screen and (max-width: 425px) {
    .page {
        margin-left: 0
    }
}