/* poppins-regular - latin */
@font-face {
    font-weight: 400;
    font-family: Poppins;
    font-style: normal;
    font-display: swap;
    src: url("../../fonts/poppins-regular.woff2") format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url("../../fonts/poppins-regular.woff") format('woff'),
        /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
        url("../../fonts/poppins-regular.ttf") format('truetype')
        /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* poppins-500 - latin */
@font-face {
    font-weight: 500;
    font-family: Poppins;
    font-style: normal;
    font-display: swap;
    src: url("../../fonts/poppins-500.woff2") format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url("../../fonts/poppins-500.woff") format('woff'),
        /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
        url("../../fonts/poppins-500.ttf") format('truetype')
        /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* poppins-600 - latin */
@font-face {
    font-weight: 600;
    font-family: Poppins;
    font-style: normal;
    font-display: swap;
    src: url("../../fonts/poppins-600.woff2") format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url("../../fonts/poppins-600.woff") format('woff'),
        /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
        url("../../fonts/poppins-600.ttf") format('truetype')
        /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* poppins-700 - latin */
@font-face {
    font-weight: 700;
    font-family: Poppins;
    font-style: normal;
    font-display: swap;
    src: url("../../fonts/poppins-700.woff2") format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url("../../fonts/poppins-700.woff") format('woff'),
        /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
        url("../../fonts/poppins-700.ttf") format('truetype')
        /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* poppins-800 - latin */
@font-face {
    font-weight: 800;
    font-family: Poppins;
    font-style: normal;
    font-display: swap;
    src: url("../../fonts/poppins-800.woff2") format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url("../../fonts/poppins-800.woff") format('woff'),
        /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
        url("../../fonts/poppins-800.ttf") format('truetype')
        /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
